h2 {
	font-family: arial;
	color: darkviolet;
	text-align: center;
	font-style: italic;
}

body {
	background-color: lightblue;
	/*background-color: #999999;*/
	background-image: url(../Background/2.png);
	background-repeat: no-repeat;
	background-position: top center;
}

p {
	color: coral;
	font-family: arial;
	font-size: 25px;
}