h1 {
	color: blueviolet;
	font-family: arial, verdana, sans-serif;
	font-size: 100px;
	font-weight: normal;
	font-variant: small-caps;

}

p {
	color: rgb(100, 50, 75);
	/*color: blueviolet;*/
	font-family: georgia, serif;
	font-size: 20px;
	font-weight: bold;
	font-style: italic;
	line-height: 20px;
	text-align: center;
	/*text-align:  right;*/
	text-indent: 10px;
	text-decoration: line-through;
	/*text-decoration: overline;*/
	text-transform: capitalize;
	letter-spacing: 2px;
	word-spacing: 2px;

}


a{
	text-decoration: line-through;
}